.sidebar-ui .card.widget_block ,
.sidebar-ui .widget_block {
    padding: 15px 20px !important;
}

.sidebar-ui .wp-block-group__inner-container > h2 {
    color: #117CA6 !important;
}

.sidebar-listing .listing li {
    border-top: 1px dashed #dee2e6!important;
    line-height: 22px;
} 